PORT=4000
MONGO_URI=your_mongodb_connection_string
MONGO_DB_NAME=comp3133_101505276_Assignment1
JWT_SECRET=your_jwt_secret
CLOUD_NAME=your_cloudinary_cloud_name
CLOUD_KEY=your_cloudinary_api_key
CLOUD_SECRET=your_cloudinary_api_secret
